<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tasker</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />
        <link asp-href-include="~/theme/css/animate.css" rel="stylesheet" />
        <link asp-href-include="~/theme/css/bootstrap.css" rel="stylesheet" />
        <link asp-href-include="~/theme/css/style.css" rel="stylesheet" />
        <link asp-href-include="~/lib/font-awesome/css/*.css" rel="stylesheet" />
        <link asp-href-include="~/lib/angular-ui-select/dist/select.css" rel="stylesheet" />
        <link asp-href-include="~/lib/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" />


    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="top-navigation" style="padding-top: 0px;">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation" ng-controller="headerController as vm">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="#" class="navbar-brand">Tasker</a>
                    </div>
                    <div class="navbar-collapse collapse" click-off="vm.closeSections();" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                @*<a aria-expanded="false" role="button" href="layouts.html"> Back to main Layout page</a>*@
                            </li>

                        </ul>
                        <ul class="nav navbar-top-links navbar-right" ng-show="vm.authData.isAuth">
                            <li>
                                <a ng-click="vm.showSection('add')">
                                    <i class="fa fa-plus" aria-hidden="true"></i>

                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links navbar-right" ng-show="vm.authData.isAuth">
                            <li>
                                <a ng-click="vm.showSection('info')">
                                    <i class="fa fa-info" aria-hidden="true"></i>

                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links navbar-right" ng-show="vm.authData.isAuth">
                            <li>
                                <a ng-click="vm.showSection('user')">
                                    <i class="fa fa-user-md" aria-hidden="true"></i> {{vm.authData.userName}}

                                </a>
                            </li>
                        </ul>
                        <div ng-if="vm.sections['user']" class="tab-pane header-popup-item">
                            <div class="sidebar-container">
                                <div class="text-center">
                                    <p class="sidebar-title" style="color:gray">{{vm.user.fullName}}</p>
                                </div>
                                <ul style="list-style:none" class="sidebar-list">
                                    <li><a ui-sref="user.profile"> Profile </a></li>
                                    <li><a ui-sref="user.cards"> Card </a></li>
                                    <li><a ui-sref="user.settings"> Settings </a></li>
                                </ul>
                                <ul style="list-style:none" class="sidebar-list">
                                    <li>Help</li>
                                    <li>Shortcut</li>
                                    <li>Change language</li>
                                </ul>
                                <ul style="list-style:none" class="sidebar-list">
                                    <li ng-click="vm.logOut()">Log out</li>
                                </ul>


                            </div>
                        </div>
                        <div ng-if="vm.sections['info']" class="tab-pane header-popup-item">
                            <div class="sidebar-container">
                                <div class="text-center">
                                    <p class="sidebar-title" style="color:gray">Info</p>
                                </div>
                                <ul class="sidebar-list">
                                    <li>
                                        this is info item
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="vm.sections['add']" class="tab-pane header-popup-item">
                            <div class="sidebar-container">
                                <div class="text-center">
                                    <p class="sidebar-title" style="color:gray">Add</p>
                                </div>
                                <ul class="sidebar-list">
                                    <li>
                                        Add section
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </nav>


            </div>
            <div class="wrapper wrapper-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title" ng-show="vm.authData.isAuth">
                                    <h5>Custom</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="min-height:1270px;">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2017
                </div>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
        <script src="~/lib/angular-ui-select/dist/select.js"></script>
        <script src="~/lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/js/config.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/consts.js"></script>
        <script asp-src-include="~/js/**/**/**/*.js"
                asp-src-exclude="~/js/*.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script asp-src-include="~/theme/js/*.js"> </script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
