<div class="modal-header">
    <h2 class="font-bold modal-title" editable-text="card.name" e-ng-change="updateName($data)" buttons="no" blur="submit">{{card.name}}</h2>
    <h4 class="card-description" editable-text="card.description" e-ng-change="updateDescription($data)" buttons="no" blur="submit">{{card.description || 'Add description'}}</h4>
    <ul class="card-label-list" data-ng-if="card.labels.length">
        <li data-ng-repeat="label in card.labels" class="card-modal-label-item">
            <span class="card-label" ng-style="{'background-color': label.color}">
                {{label.title}}
                <i class="fa fa-close" data-ng-click="removeLabel(label.id)"></i>
            </span>
        </li>
    </ul>
</div>
<div class="modal-body" style="min-height: 200px;">
    <div class="col-md-8">
        <form>
            <h3 class="font-bold">
                <i style="margin-right: 5px;" class="fa fa-comment"></i>
                Add comment
            </h3>
            <div class="form-group">
                <textarea class="form-control" style="width: 100%;" placeholder="Write a comment..." data-ng-model="comment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-ng-click="saveComment()" data-ng-disabled="!comment">Send</button>
            </div>
        </form>
        <div data-ng-show="card.comments.length">
            <h3 class="font-bold">
                <i style="margin-right: 5px;" class="fa fa-list"></i>
                Comments
            </h3>
            <div data-ng-repeat="comment in card.comments">{{comment.text}}</div>
        </div>
    </div>

    <div class="col-md-4">
        <h3 class="font-bold">
            Add
        </h3>
        <button type="button" class="btn btn-block btn-outline btn-primary card-modal-button" data-ng-click="toggleShowLabels($event)">Labels</button>
        <ul class="card-label-list" data-ng-show="showLabels">
            <li data-ng-repeat="label in labels">
                <!--<a class="btn btn-default btn-xs card-label-edit-button" href="" data-ng-click="updateLabel(label)">
                    <i class="fa fa-pencil"></i>
                </a>-->
                <span class="card-label" ng-style="{'background-color': label.color}" ng-click="toggleSelectLabel(label.id)">
                    {{label.title}}
                    <i class="fa fa-check" ng-if="label.selected" style="float: right;"></i>
                </span>
            </li>
            <li>
                <button type="button" class="btn btn-sm btn-default labels-btn pull-right" data-ng-click="cancelLabels()">
                    Cancel
                </button>
                <button type="button" class="btn btn-sm btn-primary labels-btn pull-right" data-ng-show="labelsToAdd.length" data-ng-click="insertLabels()">
                    Save
                </button>
            </li>
        </ul>
        <button type="button" class="btn btn-block btn-outline btn-primary card-modal-button" data-ng-click="toggleShowChecklist($event)">Checklist</button>
        <ul class="card-label-list" data-ng-show="showChecklist">
            <li style="font-style: italic;">Comming Soon</li>
        </ul>
    </div>
</div>
<div class="modal-footer" style="border-top: none;">
</div>