Welcome to: <h1 editable-text="vm.board.boardName" buttons="no" blur="submit">{{vm.board.boardName}}</h1>

<div class="lists-wrapper">
    <ul dnd-list="vm.board.lists"
        class="tasker-list"
        dnd-horizontal-list="true"
        dnd-allowed-types="['listType']">
        <li ng-repeat="list in vm.board.lists"
            dnd-type="'listType'"
            dnd-draggable="list"
            dnd-moved="vm.board.lists.splice($index,1); vm.reorderLists();"
            dnd-effect-allowed="move"
            dnd-selected="vm.selectedList = list"
            ng-class="{'drag-selected':vm.selectedList === list}"
            class="ibox float-e-margins list-item">
            <div class="ibox-title">
                <!--<a href="#" editable-text="user.name" e-label="User Name">{{ user.name || 'empty' }}</a>-->
                <div class="row">
                    <div class="col-xs-10">
                        <h5 editable-text="list.name" buttons="no" blur="submit">{{list.name}}</h5>
                    </div>
                    <div class="col-xs-2">
                        <i ng-click="vm.listSettings(list);" class="fa fa-tasks list-settings"></i>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <ul dnd-list="list.cards"
                    dnd-allowed-types="['cardType']"
                    dnd-drop="vm.reorderCards(event, index, item, external, type, 'cardType')"
                    class="cards">
                    <li ng-repeat="card in list.cards"
                        dnd-type="'cardType'"
                        dnd-draggable="card"
                        dnd-moved="list.cards.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="list.selectedCard = item"
                        class="card-item">
                        <a href="" ng-click="vm.openCard(card)">{{card.name}}</a>
                    </li>

                </ul>
            </div>
            <div class="ibox-footer">
                <span ng-click="vm.addCard(list)"
                      class="new-card-item">
                    Add New Card...
                </span>
            </div>
        </li>
        <li class="ibox float-e-margins new-list-item list-item"
            dnd-type="'newListType'">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="vm.addList()"
                           ng-class="{focus: hover}"
                           ng-mouseenter="hover = true"
                           ng-mouseleave="hover = false">
                            <h5>
                                Add New List...
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    {{vm.board.lists}}
</div>

