<div>
    <h1>Register</h1>
    <br />
    <br />
    <label>FullName</label>
    <input type="text" placeholder="Enter Username" ng-model="user.FullName" required>
    <br />
    <label>Email</label>
    <input type="text" placeholder="Enter Email" ng-model="user.Email" required>
    <br />
    <label>Username</label>
    <input type="text" placeholder="Enter Username" ng-model="user.UserName" required>
    <br />
    <label>Password</label>
    <input type="password" placeholder="Enter Password" ng-model="Password" required>
    <br />
    <label>Repeat password</label>
    <input type="password" placeholder="Enter Username" required>
    <br />
    <label>Bio</label>
    <input type="text" placeholder="Enter Bio" ng-model="user.Bio" required>
    <br />
    <button ng-click="register()">Register</button>
</div>
